:root {
  --dark: #202020;
  --grey: rgba(255, 255, 255, 0.05);
  --system-message: rgba(255, 255, 255, 0.5);
  --priv-message: #e8f1b1;
  --priv-message-sent: #aaaaaa;
  --small: 0.5rem;
  --medium: 1rem;
  --large: 1.5rem;
  --entry-height: 5.25rem;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  scrollbar-color: var(--grey) var(--dark);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: var(--small);
}
::-webkit-scrollbar-track {
  background: var(--dark);
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

html {
  font-size: 12px;
  line-height: 1.4;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#main {
  align-items: center;
  background-color: var(--dark);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: var(--medium);
}

@media (min-width: 768px) {
  #main {
    padding: var(--large);
  }
}

#chat {
  height: 100%;
  max-width: 760px;
  position: relative;
  width: 100%;
}

#chat, #entry, #messages {
  background-color: var(--dark);
  color: #FFFFFF;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#petal {
  font-size: 3rem;
  right: 8px;
  bottom: var(--entry-height);
  opacity: 0.8;
  mix-blend-mode: screen;
  position: absolute;
  user-select: none;
  z-index: 1;
}

#messages {
  height: calc(100% - 5.25rem);
  overflow-y: scroll;
  position: relative;
}

#entry {
  border: 0;
  background-color: var(--grey);
  height: var(--entry-height);
  margin: 0;
  padding: calc(0.6875rem - 2px) 0 0 calc(0.75rem - 2px);
  resize: none;
  width: 100%;
}
#entry:focus {
  outline: 0;
}

.msg-group {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  display: flex;
  overflow-wrap: anywhere;
}

.msg-group:last-child {
  margin-bottom: 0;
}

.msg-group .avatar {
  margin: 0 calc(0.75rem - 2px);
  height: 3rem;
  width: 3rem;
}

.msg-group .col {
  display: flex;
  flex-direction: column;
}

.msg-group .author {
  font-weight: bold;
}

#messages > .msg {
  padding-left: calc(0.75rem - 2px);
}

#messages > .msg:last-child {
  padding-bottom: 1rem;
}

.msg--system {
  color: var(--system-message);
}
.msg--priv-message {
  color: var(--priv-message);
}
.msg--priv-message-sent {
  color: var(--priv-message-sent);
}
