:root {
  --darker: #202020;
  --dark: #262626;
  --lighten: rgba(255, 255, 255, 0.1);
  --lightener: rgba(255, 255, 255, 0.3);
  --lightenest: rgba(255, 255, 255, 0.6);
  --priv-message: #e8f1b1;
  --darkgrey: #393939;
  --grey: #aaaaaa;
  --lightgrey: #dddddd;
  --good: #9eff9e;
  --darkGood: #424d42;
  --bad: #ff8f8f;
  --darkBad: #4b3d3d;
  --small: 0.5rem;
  --medium: 1rem;
  --large: 1.5rem;
  --entry-height: 5.25rem;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  scrollbar-color: var(--lightenest) var(--lighten);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: var(--small);
}
::-webkit-scrollbar-track {
  background-color: var(--darker);
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background-color: var(--lighten);
}

html {
  font-size: 14px;
  line-height: 1.5;
}

nav {
  align-items: center;
  background-color: var(--dark);
  color: var(--lightenest);
  display: flex;
  font-size: 1.25rem;
  gap: min(7.5vw, 50px);
  padding: 1rem 0 1rem 1.5rem;
  width: 100%;
}
nav a:hover {
  text-decoration: underline;
}

.homeLink {
  color: #ffd3dd;
}

.kofiLink {
  color: #ffadad;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  cursor: pointer;
  user-select: none;
}

button {
  border: 1px solid var(--lightenest);
  background-color: var(--lighten);
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  padding: 5px 6px 4px;
}

button:focus-visible, button:hover {
  background-color: var(--lightener);
  border-color: #ffffff;
  color: #ffffff;
  outline: none;
}

input {
	background-color: var(--lighten);
  border: 1px solid var(--lightener);
	color: #ffffff;
  font-size: 1rem;
	padding: 5px 8px 4px;
}

input[type="range"] {
  cursor: pointer;
}

input:focus-visible {
  outline: 1px solid var(--lightenest);
}

select {
	background-color: var(--lighten);
  border: 1px solid var(--lightenest);
	color: #ffffff;
	cursor: pointer;
  font-size: 1rem;
}

hr {
	background-color: var(--lighten);
  border: none;
	height: 0.25rem;
	margin: 0.5rem 0;
}

.hidden {
  display: none !important;
}
.pb-xs {
  padding-bottom: 0.25rem;
}
.pb-sm {
  padding-bottom: 0.5rem;
}
.pb-md {
  padding-bottom: 0.75rem;
}
.pb-lg {
  padding-bottom: 1rem;
}
.pt-xs {
  padding-top: 0.25rem;
}
.pt-sm {
  padding-top: 0.5rem;
}
.pt-md {
  padding-top: 0.75rem;
}
.pt-lg {
  padding-top: 1rem;
}
.pb-xs {
  padding-bottom: 0.25rem;
}
.mb-xs {
  margin-bottom: 0.25rem;
}
.mb-sm {
  margin-bottom: 0.5rem;
}
.mb-md {
  margin-bottom: 0.75rem;
}
.mb-lg {
  margin-bottom: 1rem;
}
.mt-xs {
  margin-top: 0.25rem;
}
.mt-sm {
  margin-top: 0.5rem;
}
.mt-md {
  margin-top: 0.75rem;
}
.mt-lg {
  margin-top: 1rem;
}
.ml-xs {
  margin-left: 0.25rem;
}
.ml-sm {
  margin-left: 0.5rem;
}
.ml-md {
  margin-left: 0.75rem;
}
.ml-lg {
  margin-left: 1rem;
}
.mr-xs {
  margin-right: 0.25rem;
}
.mr-sm {
  margin-right: 0.5rem;
}
.mr-md {
  margin-right: 0.75rem;
}
.mr-lg {
  margin-right: 1rem;
}

.smaller {
  font-size: smaller;
}

.cursor-inherit {
  cursor: inherit;
}

.bad {
  background-color: var(--darkBad);
  border-color: var(--bad);
  color: var(--bad);
}
.good {
  background-color: var(--darkGood);
  border-color: var(--good);
  color: var(--good);
}

#main {
  align-items: center;
  background-color: var(--darker);
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

#content-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  width: 100%;
}

#stream-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 100%;
}

#stream {
  height: 56.25vw;
  width: 100%;
}

#stream-info {
  align-items: center;
  background-color: var(--dark);
  color: var(--lightgrey);
  cursor: pointer;
  display: flex;
  padding: 1rem 0 1rem 1.5rem;
  position: relative;
  width: 100%;
}

#streamTitle {
  font-size: 1.25rem;
  overflow-x: hidden;
  max-width: 260px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#stream-info::after {
  border-bottom: 0.25rem solid var(--grey);
  border-right: 0.25rem solid var(--grey);
  content: '';
  height: 1rem;
  position: absolute;
  right: 1.5rem;
  top: 1.1rem;
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
  width: 1rem;
  z-index: 1;
}
#stream-info.active::after {
  top: calc(5rem / 3);
  transform: rotate(-135deg);
}

#streamInfoMenu {
  background-color: var(--dark);
  border-bottom: 0.25rem solid var(--lighten);
  bottom: 3.875rem;
  cursor: initial;
  left: 0;
  list-style-type: none;
  padding: 1rem 1.5rem;
  position: absolute;
  width: 100%;
}
#streamInfoMenu p {
  font-size: 1.25rem;
}
#streamInfoMenu ul {
  padding: 1rem 0;
}
#streamInfoMenu li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#streamInfoMenu li span:last-child {
  color: var(--grey);
}

#chat {
  height: 100%;
  margin-left: auto;
  max-width: 100%;
  position: relative;
  width: 100%;
}

#content-wrapper + #chat {
  height: calc(100vh - calc(56.25vw + 109px));
}

#chat, textarea, #messages {
  background-color: var(--darker);
  color: #ffffff;
  font-size: var(--medium);
}

#messages {
  height: calc(100% - calc(var(--entry-height) + 2.5rem));
  overflow-y: scroll;
  position: relative;
}

#messageContextMenu {
  background-color: var(--dark);
  color: #ffffff;
  display: block;
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  z-index: 2;
}
#messageContextMenu li {
  border: 0.25rem solid var(--lighten);
  cursor: pointer;
  padding: 0.5rem 0.75rem;
}


textarea {
  border: 0.25rem solid var(--lighten);
  height: var(--entry-height);
  margin: 0;
  padding: 0.6875rem 0 0 0.75rem;
  resize: none;
  width: 100%;
}
textarea:focus {
  outline: none;
}
#entry {
  margin: 1rem 0 1rem 0.75rem;
  width: calc(100% - 6.5rem);
}

.msg-group {
  background-color: var(--darker);
  padding: 0.75rem 1rem;
  display: flex;
  overflow-wrap: anywhere;
}

.msg-group:last-child {
  margin-bottom: 0;
}

.msg-group .avatar {
  height: 2rem;
  cursor: pointer;
  user-select: none;
  width: 2rem;
}

.msg-group .col {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  margin-top: -0.25rem;
  width: 100%;
}

.msg-group .author {
  color: var(--grey);
  cursor: pointer;
  font-weight: bold;
  width: max-content;
}

.msg-group .author:hover {
  text-decoration: underline;
}

#messages > .msg {
  padding: var(--small) 1rem;
}

#messages > .msg + .msg {
  padding-top: 0;
}

.msg--system {
  color: var(--lightenest);
}
.msg--priv-message {
  color: var(--priv-message);
}
.msg--priv-message-sent {
  color: var(--grey);
}

#petal {
	bottom: 1.625rem;
	cursor: pointer;
	opacity: calc(2/3);
	position: absolute;
	right: 0.5rem;
	user-select: none;
  width: 64px;
	z-index: 1;
}
#petal:hover {
  opacity: 1;
}

#backToLatest {
  background-color: var(--dark);
  border: 0.25rem solid var(--lighten);
  bottom: calc(var(--entry-height) + 3rem);
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 0.5rem;
  position: absolute;
  left: calc(50% - 120px);
  text-align: center;
  user-select: none;
  width: 240px;
  z-index: 2;
}

#menu {
  background-color: var(--dark);
  border: 0.25rem solid var(--lighten);
  bottom: calc(var(--entry-height) + 4rem);
  display: block;
  height: 60vh;
	position: absolute;
  right: 6%;
  width: 88%;
  z-index: 4;
}

#menuTabs {
	display: flex;
	border-bottom: 0.25rem solid var(--lighten);
}
.menuTab {
  color: var(--lightenest);
	cursor: pointer;
  letter-spacing: 1px;
  overflow-x: hidden;
  padding: 1rem 0.8rem;
  user-select: none;
}
.menuTab.active {
  background-color: var(--lighten);
  color: #ffffff;
}

#menuPages {
  height: calc(60vh - 4rem);
  overflow-y: auto;
  max-width: 100%;
  padding: 1rem;
}
.menuPage {
  display: none;
}
.menuPage.active {
  display: block;
}

#userProfileNameRow {
  display: flex;
}
#userProfileName {
  cursor: pointer;
  position: relative;
}
#userProfileName:focus-visible {
  outline: none;
}
#userProfileName:hover {
  text-decoration: none;
}
#editNameIcon {
  cursor: pointer;
  height: 1.5rem;
  opacity: calc(2/3);
  padding: 0.1rem 0.25rem;
  width: 1.75rem;
}
#changeAvatar.cursor-inherit, #userProfileName.cursor-inherit {
  cursor: inherit;
}
#userProfileName.frozen::after {
  display: none;
}
#nameColor, #messageColor, #backgroundColor {
  background: none;
  border: none;
  height: 0.85rem;
  padding: 0;
	position: absolute;
	width: 0;
}
#changeNameColor.active, #changeMessageColor.active, #changeBackgroundColor.active {
  background-color: var(--lightener);
  border-color: white;
}
.clr-dark {
  background-color: var(--darkgrey);
}
.clr-dark input.clr-color {
  background-color: var(--lighten);
}
.clr-picker.clr-polaroid::before {
  display: none;
}
#clr-color-preview {
  pointer-events: none;
}
#enterPassword {
  margin-right: 100%;
}

.menuInfoText {
  color: var(--lightgrey);
  display: inline-block;
	padding: 2px 6px 1px;
}

#profileBio {
  min-height: 7.75rem;
}

#profilePopover {
  background-color: var(--darkgrey);
  border: 0.25rem solid var(--lighten);
  height: max-content;
  max-width: 280px;
  min-width: 180px;
  padding: 1rem;
  position: absolute;
  z-index: 2;
}
#profilePopoverRow {
  align-items: center;
  display: flex;
  gap: 1rem;
}
#profilePopoverAvatar {
  height: 64px;
  width: 64px;
}
#profilePopoverName {
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: bold;
}
#profilePopoverBio {
  color: #ffffff;
  margin-top: 1rem;
  padding: 0 0.25rem;
  word-wrap: break-word;
}
#profilePopover .no-bio {
  margin-top: -1rem;
}

@media (min-width: 769px) {
  #main {
    flex-flow: row;
  }
  #content-wrapper {
    height: 100%;
  }
  nav {
    font-size: 1.5rem;
  }
  #stream {
    height: 100%;
  }
  #content-wrapper + #chat {
    height: 100%;
    min-width: 360px;
    width: 25%;
  }
  #chat {
    padding: 0;
  }
  #menu {
    right: 0;
  }
  #menu {
    width: 480px;
    right: calc(50% - 240px);
  }
  #content-wrapper + #chat #menu {
    min-width: 306px;
    right: 5%;
    width: 90%;
  }
  .clr-picker.clr-pill {
    width: 340px;
  }
  #messages > .msg {
    padding: var(--small) 0.5rem;
  }
  .msg-group {
    padding: 0.75rem;
  }
  .msg-group .avatar {
    height: 3rem;
    width: 3rem;
  }
  .msg-group .col {
    margin-top: -2px;
    padding-left: 0.75rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  #content-wrapper + #chat {
    min-width: 460px;
  }
  #petal {
    width: 78px;
  }
  .menuTab {
    padding: 1rem 0.8rem;
  }
  #messages > .msg {
    padding: var(--small) 0.75rem;
  }
}